
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

img {
  border: 0 none;
  vertical-align: top;
}

em,
i {
  font-style: normal
}

ol,
ul {
  list-style: none
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select {
  font-size: 100%;
  font-family: inherit
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a,
a:visited {
  text-decoration: none;
  color: #333
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* common */
body {
  min-width: 320px;
  max-width: 540px;
  margin: 0 auto;
  line-height: 1.5;
  background: #f7f7f8;
  color: #444;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-text-size-adjust: 100% !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;  
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: industry;
  src: url('./asset/fonts/Industry.otf');
}

body.white{
  background: #fff;
}

.slide-enter{
  transform: translateX(-100%);
}
.slide-enter-active {
  transform: translateX(0);
  transition: all .3s;
}
.slide-exit{
}
.slide-exit-active {
  transform: translateX(-100%);
  transition: all .3s;
}

/* fade */
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: all .3s ease-in;
}


/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__dialog {
  width: 75%;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #eaeaea;
}

.modal__head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
}

.modal__close {
  position: absolute;
  left: 15px;
  top: 15px;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  background: transparent;
}

.modal__title {
  font-size: 16px;
  font-weight: bold;
}

.modal__subtitle {
  text-align: center;
}

.modal__amount{
  text-align: center;
  font-size: 44px;
  font-family: industry;

}

.modal__useable{
  font-family: industry;
  text-align: center;
}

.modal__info {
  padding: 20px 15px;
}

.modal__items {
  color: #7E7E7E;
  margin: 0 15px;
  border-top: 1px solid #eaeaea;
}

.modal__item {
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__label {
  color: #7E7E7E;
}

.modal__link{
  font-size: 12px;
  color: #19ac18;
  flex-shrink: 0;
}

.modal__input {
  border: 0;
  padding: 0;
  outline: none;
  text-align: right;
  width: 100%;
  font-size: 14px;
}
.modal__input--left{
  text-align: left;
}
.modal__foot {
  padding: 15px;
}

.modal__button {
  padding: 0;
  border: 0;
  display: block;
  width: 100%;
  line-height: 50px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background: #ccc;
  border-radius: 3px;
}

.modal__button--enable {
  background: #19AC18;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
}

@keyframes modal-slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes modal-slideUp {
  0% {
    transform: translateY(0);
    opacity: 1
  }

  to {
    transform: translateY(-20px);
    opacity: 0
  }
}

@keyframes modal-fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes modal-fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.weui-animate-fade-slideDown {
  animation: modal-slideDown ease .3s forwards
}

.weui-animate-fade-slideUp {
  animation: modal-slideUp ease .3s forwards
}

.weui-animate-fade-in {
  animation: modal-fadeIn ease .3s forwards
}

.weui-animate-fade-out {
  animation: modal-fadeOut ease .3s forwards
}

/* 重写weui样式 */

.weui-picker__hd{
  padding: 12px 15px;
  font-size: 14px;
}
.weui-dialog__btn_primary{
  color: #3b8afc;
}
.weui-picker__action{
  color: #3b8afc;
}